@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  .article {
    @apply max-w-2xl mx-auto text-gray-800 bg-white py-2 px-4 md:py-4 md:px-8 dark:bg-gray-800 dark:text-gray-200 md:my-4;
  }
  
  .article h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-gray-900 font-bold break-words dark:text-indigo-500;
  }

  .article h1 {
    @apply text-5xl mt-2 mb-3;
  }

  .article h2 {
    @apply text-4xl mt-2 mb-3 md:text-3xl;
  }

  .article h3 {
    @apply text-3xl mt-2 mb-2 md:text-2xl;
  }

  .article h4 {
    @apply text-2xl mt-1 mb-2 md:text-xl;
  }

  .article h5 {
    @apply text-xl my-1 md:text-lg;
  }

  .article h6 {
    @apply text-lg my-1 md:text-base;
  }

  .article p, li {
    @apply text-lg my-2 md:text-base;
  }

  .article blockquote {
    @apply text-gray-900 border-l-4 border-indigo-700 dark:border-indigo-300 pl-4 pr-2 py-2 font-medium italic my-2 bg-gray-100 dark:bg-gray-600 dark:text-gray-200;
  }

  .article a {
    @apply text-indigo-700 dark:text-indigo-300 hover:underline hover:text-indigo-800 dark:hover:text-indigo-400 focus:ring-2 focus:ring-indigo-500 focus:outline-none focus:ring-offset-2 focus:ring-offset-transparent;
  }

  .article strong {
    @apply font-semibold text-gray-900 dark:text-gray-100;
  }

  .article em {
    @apply italic;
  }

  .article del {
    @apply line-through;
  }

  .article p > code {
    @apply inline-block bg-gray-200 px-2 rounded font-mono text-black dark:bg-black dark:text-white;
  }

  .article img {
    @apply block w-full;
  }

  .article ul, ol {
    @apply mb-2;
  }

  .article ul li {
    @apply list-disc list-inside;
  }

  .article ol li {
    @apply list-decimal list-inside;
  }

  .article ul.contains-task-list li {
    @apply list-none;
  }

  .article table {
    @apply block table-auto border-collapse border overflow-auto dark:border-gray-900 dark:bg-gray-600;
  }

  .article th {
    @apply text-gray-900 dark:text-gray-100;
  }

  .article td {
    @apply text-gray-800 dark:text-gray-200;
  }

  .article th, td {
    @apply border px-4 py-2 dark:border-black;
  }

  .article > .footnotes > ol > li {
    @apply list-decimal list-inside text-sm md:text-xs;
  }

  .article hr {
    @apply border-indigo-200 my-1 dark:border-indigo-500;
  }  

  body {
    @apply bg-gray-200 dark:bg-gray-800;
  }

  @keyframes logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
}

@layer components {
  .theme-focus {
    @apply outline-none focus:outline-none focus-visible:ring-2 focus-visible:ring-offset-2 focus-visible:ring-offset-transparent focus-visible:ring-indigo-200;
  }
}

@layer utilities {
  @responsive {
    .animate-logo-spin {
      animation: logo-spin infinite 20s linear;
    }
  }
}
